@font-face {
  font-family: "iconfont"; /* Project id 5072174 */
  src: url('iconfont.woff2?t=1763894981605') format('woff2'),
       url('iconfont.woff?t=1763894981605') format('woff'),
       url('iconfont.ttf?t=1763894981605') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before {
  content: "\e639";
}

.icon-blog:before {
  content: "\e638";
}

.icon-info:before {
  content: "\e636";
}

.icon-home:before {
  content: "\e637";
}

