@font-face {
  font-family: "iconfont"; /* Project id 5072174 */
  src: url('iconfont.woff2?t=1763883513110') format('woff2'),
       url('iconfont.woff?t=1763883513110') format('woff'),
       url('iconfont.ttf?t=1763883513110') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yijian:before {
  content: "\e699";
}

.icon-liebiao:before {
  content: "\e6a3";
}

.icon-zonghe:before {
  content: "\e6b4";
}

.icon-shouye:before {
  content: "\e6b6";
}

