# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
    - uses: actions/checkout@v4
    
    - name: Install
      uses: actions/setup-node@v4
      with:
        cache: 'npm'
    - run: npm install
    - run: npm install -D vite@^2.5.2
    - run: npm run build

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with: 
       branch: gh-pages
       folder: dist
      
    

    
