body,html{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    .btn{
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        opacity: 0;
    }
    .icon{
        filter: drop-shadow(0 0 20px #ffffff);
        display: block;
        position: absolute;
        top: 6vh;
        left: 22vw;
        z-index: 1;
        width: 50vw;
        object-fit: contain;
    }
    .tips{
        transition-duration: 600ms;
        color: white;
        font-size: 5vw;
        position: absolute;
        left: 50%;
        bottom: 12vh;
        transform: translate(-50%, 0);
        z-index: 1;
        &.hide{
            opacity: 0;
        }
    }
    .top-mask{
        transition-duration: 600ms;
        width: 100vw;
        height: 30vh;
        background-image: linear-gradient(0deg,#00000000 0%, #000000ff 100%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .bottom-mask{
        transition-duration: 600ms;
        background-image: linear-gradient(180deg, #00000000 0%, #000000ff 100%);
        width: 100vw;
        height: 30vh;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .center-cont{
        transition-duration: 600ms;
        background-color: white;
       -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        z-index: 1;
        width: 30vw;
        aspect-ratio: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        animation: rotate 30s linear infinite;
        .center-cont-in{
            width: 100%;
            height: 100%;
            -webkit-clip-path: polygon(30% 6px, 70% 6px, calc(100% - 6px) 30%, calc(100% - 6px) 70%, 70% calc(100% - 6px), 30% calc(100% - 6px), 6px 70%, 6px 30%);
             clip-path: polygon(30% 6px, 70% 6px, calc(100% - 6px) 30%, calc(100% - 6px) 70%, 70% calc(100% - 6px), 30% calc(100% - 6px), 6px 70%, 6px 30%);
            img{
                transition-duration: 600ms;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100vw;
                aspect-ratio: 1;
                object-fit: cover;
                animation: rotate 30s linear infinite reverse;
            }
        }
    }
    &.active{
        .center-cont{
            width: 80vw;
            .center-cont-in{
                img{
                    width: 84vw;
                }
            } 
        }   
        .top-mask{
            top: -10vh;
        }
        .bottom-mask{
            bottom: -10vh;
        }
    }
    .out-box{
        aspect-ratio: 1;
        height: 120%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 30s linear infinite;
        .in-box{
            -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0, 0% 100%, 100% 100%);
            position: absolute;
            height: 60%;
            width: 50%;
            left: 50%;
            top: 50%;
            transform-origin: top center;
            .img-box{
                transform-origin: center center;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    animation: rotate 30s linear infinite reverse;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:nth-child(1){
                .img-box{
                    transform:translate(-50%, -50%)  rotate(0deg);
                }
                transform: translate(-50%, 0) rotate(0deg);
            }
            &:nth-child(2){
                .img-box{
                    transform:translate(-50%, -50%) rotate(45deg);
                }
                transform: translate(-50%, 0) rotate(45deg);
            }
            &:nth-child(3){
                .img-box{
                    transform:translate(-50%, -50%) rotate(90deg);
                }
                transform: translate(-50%, 0) rotate(90deg);
            }
            &:nth-child(4){
                .img-box{
                    transform:translate(-50%, -50%) rotate(135deg);
                }
                transform: translate(-50%, 0) rotate(135deg);
            }
            &:nth-child(5){
                .img-box{
                    transform:translate(-50%, -50%) rotate(180deg);
                }
                transform: translate(-50%, 0) rotate(180deg);
            }
            &:nth-child(6){
                .img-box{
                    transform:translate(-50%, -50%) rotate(225deg);
                }
                transform: translate(-50%, 0) rotate(225deg);
            }
            &:nth-child(7){
                .img-box{
                    transform:translate(-50%, -50%) rotate(270deg);
                }
                transform: translate(-50%, 0) rotate(270deg);
            }
            &:nth-child(8){
                .img-box{
                    transform:translate(-50%, -50%) rotate(315deg);
                }
                transform: translate(-50%, 0) rotate(315deg);
            }
        }
    }
    
}
@keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }